{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'editor/codemirror.css' %}" />
    <script src="{% static 'editor/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'editor/codemirror.js' %}"></script>
    <script src="{% static 'editor/ot.js' %}"></script>
    <script>
      var POLL_INTERVAL = 5000;
      var SEND_DELAY = 100;
      var ERROR_DELAY = 5000;

      var documentId = '{{ document_id }}';
      var cm = null;
      var currentVersion = null;
      var needVersion = null;
      var pendingOp = null;
      var sending = false;
      var sendingOp = null;
      var sendingReqId = null;
      var ignoreLocalChanges = false;

      var documentInitialContent = '{{ document_content }}';
      var documentInitialVersion = {{ document_version }};

      var baseUri = '/api/documents/' + documentId;

      var makeId = function () {
        var out = '';
        var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        for(var i = 0; i < 16; ++i) {
          out += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return out;
      };

      var handleRemoteChange = function (change) {
        var op = ot.TextOperation.fromJSON(change.op);
        console.log('remote change: ' + JSON.stringify(op.ops));

        if(needVersion == null || change.version != needVersion) {
          if(pendingOp) {
            var result = ot.TextOperation.transform(op, pendingOp);
            op = result[0];
            pendingOp = result[1];
          }
          ignoreLocalChanges = true;
          var pos = 0;
          for(var i = 0; i < op.ops.length; ++i) {
            var subop = op.ops[i];
            if(ot.TextOperation.isRetain(subop)) {
              pos += subop;
            } else if(ot.TextOperation.isInsert(subop)) {
              cm.replaceRange(subop, cm.posFromIndex(pos));
            } else if(ot.TextOperation.isDelete(subop)) {
              cm.replaceRange('', cm.posFromIndex(pos), cm.posFromIndex(pos - subop));
            }
          }
          ignoreLocalChanges = false;
        }

        currentVersion = change.version;
        if(needVersion != null && currentVersion >= needVersion) {
          needVersion = null;
          if(pendingOp && !sending) {
            sending = true;
            setTimeout(send, SEND_DELAY);
          }
        }
      };

      var send = function() {
        if(!sendingOp && pendingOp) {
          sendingOp = pendingOp;
          sendingReqId = makeId();
          pendingOp = null;
        }
        $.post({
          url: baseUri + '/changes/',
          data: {
            'request-id': sendingReqId,
            'parent-version': currentVersion,
            op: JSON.stringify(sendingOp.ops)
          },
          dataType: 'json'
        }).done(function (data) {
          sending = false;
          sendingOp = null;
          sendingReqId = null;
          if(data.version > currentVersion) {
            needVersion = data.version;
          }
        }).fail(function () {
          // try again later
          setTimeout(send, ERROR_DELAY);
        });
      };

      $(document).ready(function () {
        $('#input').attr('disabled', true);

        cm = CodeMirror.fromTextArea($('#content').get(0), {
          lineNumbers: true,
          lineWrapping: true
        });

        cm.setValue(documentInitialContent);
        currentVersion = documentInitialVersion;

        cm.on('changes', function (cm, changes) {
          if(ignoreLocalChanges) {
            return;
          }
          var operation = ot.CodeMirrorAdapter.operationFromCodeMirrorChanges(changes, cm)[0];
          console.log('local change: ' + JSON.stringify(operation.ops));
          if(pendingOp) {
            pendingOp = pendingOp.compose(operation);
          } else {
            pendingOp = operation;
          }
          if(needVersion == null && !sending) {
            sending = true;
            setTimeout(send, SEND_DELAY);
          }
        });

        var es = new EventSource(baseUri + '/changes/?after=' + currentVersion);
        es.addEventListener('change', function (e) {
          var data = JSON.parse(e.data);
          handleRemoteChange(data);
        });

        $('#input').removeAttr('disabled');
      });
    </script>
  </head>
  <body>
    <h1>{{ document_id }}</h1>
    <div id="input">
      <textarea id="content"></textarea>
    </div>
    <p>Start another document by browsing to <code>{{ base_url }}/{any-string}</code> .</p>
  </body>
</html>
